<div class = "panel panel-default">
  <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Pedidos
                        </h1>
                    </div>
                </div>
    <div class="container"  ng-init="ctrl.getOffers()">

            <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <div ng-init="ctrl.getOffers()" ng-controller="comprasProductorCtrl as ctrl">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>totalCompra</th>
                            <th>Fecha</th>
                            <th>estado</th>
                            <th>Producto</th>
                            <th>Dirección de entrega</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in offers">
                            <td>{{ item.compra__totalCompra }}</td>
                            <td>{{ item.compra__fecha }}</td>
                            <td>{{ item.compra__estado }}</td>
                            <td>{{ item.producto__nombre }}</td>
                            <td>{{ item.compra__consumidor__direccion }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>