.body {
		background-image: url("../../images/header.jpg");
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		text-align: center;
		cursor: default;
	}

.sombraLetra{
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em
}

div.contenedor{
	overflow: hidden;
}

div.imagen{
	height: 250px;
	overflow: hidden;
	-webkit-transition: height .4s;
}


div.info{
	height:0px;
	background-color: #B3CF1B;
	overflow: hidden;
	-webkit-transition: height .4s;
}

div.contenedor:hover div.imagen{
	height: 160px;
}

div.contenedor:hover div.info{
	display: block;
	height:90px;
}

p.titulo{
	margin-left:15px;
	font-size: 1.1em;
}

p.adicional{
	color: gray;
	margin-left:15px;
	font-size: 0.9em;
}

a.link{
	float:right;
	margin-top:-25px;
	margin-right:5px;
	margin-bottom:5px;
	padding:10px 30px;
	font-size: .8em;
	color:white;
	text-decoration: none;
}