<div id="page-wrapper">
<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Tiempo reserva carrito de compras
                        </h1>
                    </div>
                </div>
    <label id="mensaje"></label>
    <div class="row" ng-controller="adminCtrl as ctrl" data-ng-init="getTiempoCarrito()">

        <div class="col-md-6 col-sm-6 col-md-offset-0 col-sm-offset-0">
            <form name="time_form" ng-submit="time_form.$valid && ctrl.grabarTiempoCarrito()">
            <div align="left" class="form-group has-feedback">
                    <label>Defina el tiempo límite en minutos para que los productos de un carrito se mantengan reservados.</label>
                <input type="text" class="form-control" id="tiempo" placeholder="Tiempo" ng-model="tiempo" required /><br>
                <input type="submit" class="btn btn-primary" style="float: right" value="Grabar"/>
            </div>
                </form>
        </div>
    </div>


</div>
</div>